
<html>
  <head>
      <title>BLOOM ECU</title>

  </head>
<body class="mdb-skin pink  black" >
  
        <img src="assets/img/bloom.jpg" alt="thumbnail" class="rounded mx-auto d-block" style="width: 250px">        
   
  <div>
      <!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark red lighten-3" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">
        <img src="assets/carou/casa3.png" alt="avatar image" height="35">
    </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>Rostro<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Labios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Ojos</a>
      </li>
      <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Cejas</a>
      </li>
      <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Promosiones</a>
      </li>
      <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Tips</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          ¿Como?<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Comprar</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Recibir Entrega</a>
         <!-- <div class="divider dropdown-divider"></div>-->
          <!--<a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>-->
        </div>
      </li>

    </ul>
    <!-- Links -->

    <!-- Search form -->
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
      </div>
    </form>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
  </div>
 <div class="white">
    <div class="container">
        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
            <mdb-carousel-item>
              <div class="view w-100">
                <img class="d-block w-100" src="assets/carou/uno.jpg" alt="First slide" width="100" height="800">
                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
              </div>
              <div class="carousel-caption">
                <h3 class="h3-responsive"><p>Porque creemos que cada persona debe expresar</p> libremente sus emociones, sentimientos y pesamientos.</h3>
                <p></p>
              </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
              <div class="view w-100">
                <img class="d-block w-100" src="assets/carou/dos.jpg" alt="Second slide" width="100" height="800">
                <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
              </div>
              <div class="carousel-caption">
                <h3 class="h3-responsive"><p>La manera en que la realizamos es siendo</p> autenticos y contribuyendo al florecimiento personal.</h3>
                <p></p>
              </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
              <div class="view w-100">
                <img class="d-block w-100" src="assets/carou/tres.jpg" alt="Third slide" width="100" height="800">
                <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
              </div>
              <div class="carousel-caption">
                <h3 class="h3-responsive"><p>BLoom maquillaje original</p>a un click de distancia.</h3>
                <p></p>
              </div>
            </mdb-carousel-item>
          </mdb-carousel>
    </div>
 <div>
 </div>
</div>
</body>
<body >
<!-- Section: Team v.1 -->
<section class="team-section text-center ">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">FUNDADORAS</h2>
    <!-- Section description -->
    <p class="grey-text w-responsive mx-auto mb-5">Crean en el año 2019 la iniciativa Bloom.</p>
  
    <!-- Grid row -->
    <div class="row d-flex justify-content-center">
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-md-0 mb-5 ">
        <div class="avatar mx-auto jus">
          <img src="assets/img/uno.jpeg" class="rounded-circle z-depth-1" alt="Sample avatar" width="200">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">ROJAS CAMILA</h5>
        <p class="text-uppercase blue-text"><strong>ESTUDIANTE</strong></p>
        <p class="grey-text">Estudiante de la Universidad Central del Ecuador, en la carrera de Medicina.</p>
        
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6">
        <div class="avatar mx-auto">
          <img src="assets/img/dos.jpeg" class="rounded-circle z-depth-1" alt="Sample avatar" width="200">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">ROJAS ALEJANDRA</h5>
        <p class="text-uppercase blue-text"><strong>ESTUDIANTE</strong></p>
        <p class="grey-text">Estudiante de la Universidad Internacional, de la carrera de Inteligencia de Negocios.</p>
        
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Team v.1 -->
</body>
</html>


